PORT=3333
APP_SECRET=2e7c1d670a3279fbd3bf0c8ae826811f

########## DATABASE ##########
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=postgres123
TYPEORM_DATABASE=enterprises
TYPEORM_PORT=5432
TYPEORM_ENTITIES=./src/modules/*/infra/typeorm/entities/*.ts
TYPEORM_MIGRATIONS=./src/shared/infra/typeorm/migrations/*.ts
TYPEORM_MIGRATIONS_DIR=./src/shared/infra/typeorm/migrations
TYPEORM_ENTITIES_DIR=./src/modules/*/infra/typeorm/entities